html,body {
	background: blue;
	font-family: "vcr";
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
}
p, li {
	color: white;
	font-size: 18px;
}
p, ul {
	max-width: 600px;
	width: 100%;
	margin: 20px auto;
}
.header {
	position: absolute;
	font-family: "vcr";
	text-align: left;
	max-width: 600px;
	margin: 0 auto;
	color: white;
	text-shadow: 5px 5px 0 #000, -5px -5px 0 #000, -5px 5px 0 #000, 5px -5px 0 #000;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 60px;
	text-decoration: none;
	word-break: break-all;
	z-index: 2;
}
.header:last-child {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
	  color: black;
  }
}
h2 {
	font-size: 50px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-33vw, -50%);
}
h3 {
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(33vw, -50%);
	font-size: 50px;
}
a {
	text-decoration: none;
}

@font-face {
  font-family: "vcr";
  src: url("vcr.ttf"); }
video {
	width: 100vw;
	margin-bottom: 40px;
}
#more {
	color: white;
}
img {
	margin: 0 auto;
	display: block;
}
a {
	color: white;
}
#cont {
	transform: rotate(45deg);
	transform-origin: center;
	position: absolute;
	width: 100vw;
	top: 50%;
	left: 50%;
}
